<!DOCTYPE html>
<html>
	<head>
          <title>HeartTrade</title>
          <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="/components/font-awesome/css/font-awesome.min.css">
          <link rel="stylesheet" type="text/css" href="/customcss/grid.css">

         
          <script type="text/javascript" src='/components/jquery/dist/jquery.min.js'></script>
          <script type="text/javascript" src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
          <script type="text/javascript" src='/components/masonry/dist/masonry.pkgd.min.js'></script>

          <script type="text/javascript" src='/components/imagesloaded/imagesloaded.pkgd.min.js'></script>
								
	

		
